@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 83% 97%;
    --foreground: 0 0% 13%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;
    --primary: 276 83% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 48 83% 92%;
    --secondary-foreground: 0 0% 13%;
    --muted: 48 83% 92%;
    --muted-foreground: 0 0% 40%;
    --accent: 32 100% 50%;
    --accent-foreground: 0 0% 13%;
    --destructive: 94 77% 51%;
    --destructive-foreground: 0 0% 13%;
    --border: 0 0% 13%;
    --input: 0 0% 13%;
    --ring: 32 100% 50%;
    --chart-1: 276 83% 58%;
    --chart-2: 32 100% 50%;
    --chart-3: 94 77% 51%;
    --chart-4: 220 70% 50%;
    --chart-5: 160 60% 45%;
    --radius: 0rem;
  }
  .dark {
    --background: 0 0% 13%;
    --foreground: 48 83% 97%;
    --card: 0 0% 9%;
    --card-foreground: 48 83% 97%;
    --popover: 0 0% 9%;
    --popover-foreground: 48 83% 97%;
    --primary: 276 83% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 18%;
    --secondary-foreground: 48 83% 97%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 65%;
    --accent: 32 100% 50%;
    --accent-foreground: 0 0% 13%;
    --destructive: 94 77% 51%;
    --destructive-foreground: 0 0% 13%;
    --border: 0 0% 100%;
    --input: 0 0% 100%;
    --ring: 32 100% 50%;
    --chart-1: 276 83% 58%;
    --chart-2: 32 100% 50%;
    --chart-3: 94 77% 51%;
    --chart-4: 220 70% 50%;
    --chart-5: 160 60% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
